body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center; /* Alinha os elementos no centro */
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 150px auto 20px; /* Centraliza a imagem de perfil horizontalmente */
}

.title {
    font-size: 4em; /* Aumenta o tamanho da fonte para melhorar a leitura */
}
.bio {
    font-size: 1.5em; /* Aumenta o tamanho da fonte para melhorar a leitura */
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 100px; /* Adiciona um espaço de 100px acima dos ícones */
}

.social-icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 10px; /* Adiciona um espaçamento de 40px entre os ícones */
}

/* Estilos para telas com largura máxima de 600px */
@media (max-width: 600px) {
    .container {
        max-width: 100%; /* Faz com que o contêiner ocupe a largura total da tela */
    }

    .profile-pic {
        width: 150px;
        height: 150px;
        margin-top: 75px;
    }

    .social-icon {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }

    .title {
        font-size: 1.5em; /* Ajusta o tamanho da fonte para telas menores */
    }
    .bio {
        font-size: 1em; /* Ajusta o tamanho da fonte para telas menores */
    }
}
